body {
  padding: 50px;
}
.container {
  margin: 0 auto;
  padding: 25px;
}
h1 {
  margin-top: 0;
  text-align: center;
}
select {
  display: block;
  margin: 0 auto;
  padding: 2px;
  font-size: 18px;
  width: 100%;
}
.cities {
  margin-top: 25px;
  text-align: center;
}
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 12px;
}
